{% extends "base.html" %}

{% block content %}
    {% for item in doctors%}
    <div class="col-md6 rounded">
        <header class="text-center">
            <h2>{{item.name}}</h2>
            <div>
                Специальность - {{item.services.name}}
            </div>
        </header>
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
                <th scope="col">Понедельник</th>
                <th scope="col">Вторник</th>
                <th scope="col">Среда</th>
                <th scope="col">Четверг</th>
                <th scope="col">Пятница</th>
            </tr>
          </thead>
          <tbody>
          {% for i in range(24)%}
            <tr>
                {% for j in range(5)%}
                  {% if item.shift == 0 and (i, j) in shift_0 %}
                    <td>{{ ("0" if i < 4 else "") ~ (i // 2 + 8) }}:{{ "30" if i % 2 != 0 else "00" }}</td>
                  {% elif item.shift == 1 and (i, j) in shift_1 %}
                    <td>{{ ("0" if i < 4 else "") ~ (i // 2 + 8) }}:{{ "30" if i % 2 != 0 else "00" }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if current_user.is_authenticated %}
        <div class="d-grid gap-2">
            <a href="/appointment_datetime/{{ item.id }}" class="btn btn-primary btn-lg">
                Записаться
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}