{% extends "base.html" %}

{% block content %}
  {% if appointments %}
    {% for item in appointments%}
    <div class="col-md6 border rounded">
        <h2>Запись №{{loop.index}}</h2>
        <div>
            Дата приёма - {{item.date}}
        </div>
        <div>
            Время приёма - {{item.time}}
        </div>
        <div>
            Специальность врача - {{item.service}}
        </div>
        <div>
            ФИО врача - {{item.doctor}}
        </div>
        <div>
            Дата записи - {{item.created_date}}
        </div>
        <a href="/edit_appointment/{{ item.id }}" class="btn btn-primary">
            Перенести
        </a>
        <a href="/appointments_delete/{{ item.id }}" class="btn btn-danger">
            Отменить
        </a>
    </div>
    {% endfor %}
  {% else %}
<h2>Записей пока нет</h2>
  {% endif %}
{% endblock %}